<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACLS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD3425701C2F62DE007CD26F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD3425891C2F62DE007CD26F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD3425941C2F62DE007CD26F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
